{% do headLink().prependStylesheet(assetUrl('css/iiif-storage.css', 'IIIFStorage')) %}

<div class="iiif-view-manifest-list">
    {% for canvasResource in canvases %}
    <div class="iiif-view-manifest-list__canvas">
        <div class="iiif-view-manifest-list__canvas-image">
            {% set canvas = canvasResource.getCanvas() %}
            {% set image = canvas %}
            {% include 'iiif-storage/partials/canvas-thumbnail.twig' %}
        </div>
        <div class="iiif-view-manifest-list__canvas-label">
            {{ image.getLabel() }}
        </div>
    </div>
    {% endfor %}
</div>
