<div class="iiif-view-manifest-grid">
    {% for manifestResource in manifests %}
        {% set manifest = manifestResource.getManifest() %}
        <div class="iiif-view-manifest-grid__manifest">
            <a class="iiif-view-playlist-grid"
               style="background-image: url('{{ manifest.thumbnail }}');background-size: cover;background-position: center;"
               href="{{ router.manifest(manifest, collection) }}">
            </a>
            <p>
                <a class="iiif-view-manifest-grid__manifest-label" href="{{ router.manifest(manifest, collection) }}">
                    {{ manifest.getLabel() }}
                </a>
            </p>
        </div>
    {% endfor %}
</div>
