{{ pageTitle('Synchronizing') }}
<p>Your resource translations are now being synchronized.  This could take a few minutes depending on the number of jobs
running and the amount of resources to synchronize.</p>
<p class="button">
    <a href="/admin/job">{{ translate('Go to jobs') }}</a>
</p>
