{% include 'annotation-studio/core.twig' %}

<div {{ annotationStudio.drafts(draftOptions | default({
    filterBy: 'elucidate,localStorage',
    label: translate('User submitted annotations'),
    description: translate('These are annotations created by the community and may need extra work to complete.'),
    hideIfEmpty: true,
    emptyState: translate('No annotations currently'),
    showThumbnail: true,
    thumbnailSize: 150,
})) | raw }}></div>
