{% include 'annotation-studio/core.twig' %}

<div {{ annotationStudio.editor(editorOptions | default({
    enableLocalStorage: true,
    enableIncomplete: true,
    enableEditing: true,
    enablePublishing: false,
    disableConfirmation: false,
})) | raw }}>
    <div class="annotation-studio-ghost-panel">
        <div class="ghost-title annotation-studio-animated-background"></div>
        <div class="ghost-line annotation-studio-animated-background"></div>
        <div class="ghost-choice">
            <div class="ghost-line annotation-studio-animated-background"></div>
        </div>
        <div class="ghost-choice">
            <div class="ghost-line annotation-studio-animated-background"></div>
        </div>
    </div>
</div>
