<div class="c-form-block c-form-block--center">
    <div class="c-form-block__form">
        <div class="c-form">
            <h3 class="c-form__heading">
                {{ translate('Registration complete') }}
            </h3>
            <p>
                {{ translate('Thank you for registering') }}.
                <a href="{{ url('site/publicuser-login', {}, true) }}">
                    {{ translate('Click here to login') }}.
                </a>
            </p>
        </div>
    </div>
</div>
