mysql/*
!mysql/.gitkeep
modules/*
!modules/.gitkeep
themes/*
!themes/.gitkeep
bare/*
!bare/.gitkeep
.idea
dump.sql
database/data
bin/php-cs-fixer
.php_cs.cache
/composer.json
/composer.lock
/vendor
repos/iiif-php
