version: "3"
services:
  omeka-ecosystem:
    container_name: madoc-platform-omeka
    build:
      context: .
    links:
      - mysql
    environment:
      - PHP_IDE_CONFIG=serverName=omeka-workspace
      - APP_ENV=${APP_ENV}
      - OMEKA__DATABASE_HOST=madoc-platform-database
      - OMEKA__DATABASE_NAME=${MYSQL_DATABASE}
      - OMEKA__DATABASE_USER=${MYSQL_USER}
      - OMEKA__DATABASE_PASSWORD=${MYSQL_PASSWORD}
      - OMEKA__DATABASE_PORT=${MYSQL_PORT}
      - OMEKA__MAIN_SITE_DOMAIN=${MAIN_SITE_DOMAIN}
      - OMEKA__ELUCIDATE_URL=${ELUCIDATE_URL}
      - OMEKA__INTERNAL_URL=${OMEKA_INTERNAL_URL}
      - OMEKA__ANNOTATION_INDEXER=${ANNOTATION_INDEXER}
      - OMEKA__ELUCIDATE_PUBLIC_DOMAIN=${ELUCIDATE_PUBLIC_DOMAIN}
      - OMEKA__SEARCH_ELASTICSEARCH=search-elasticsearch:9200
      - OMEKA__SEARCH_INDEXER=search-indexer:8000
    ports:
      - "8888:80"
    volumes:
      - ./repos:/srv/omeka/repos
      - ./bare/omeka-s/application:/srv/omeka/application
      - ./files:/srv/omeka/files
      - ./config/omeka-app/application.config.php:/srv/omeka/application/config/application.config.php
      - ./translations:/srv/omeka/translations

  mysql:
    container_name: madoc-platform-database
    build:
      context: ./
      dockerfile: Dockerfile.db
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_PORT=${MYSQL_PORT}
    volumes:
      - ./database/sql:/docker-entrypoint-initdb.d/
      - ./database/data:/var/lib/mysql/
    ports:
      - "3334:3306"

  annotation-server:
    container_name: madoc-annotation-server
    image: "garyttierneydi/elucidate-server:1.4.3-SNAPSHOT"
    links:
      - annotation-database:database
    environment:
      - DATABASE_USER=postgres
      - CATALINA_OPTS=-Ddb.url=jdbc:postgresql://database:5432/annotations -Ddb.user="postgres" -Ddb.password=$MYSQL_PASSWORD
      - BASE_HOST=localhost
      - BASE_PORT=8889
    ports:
      - 8889:8080

  annotation-database:
    container_name: madoc-annotation-database
    image: "garyttierneydi/elucidate-database:1.4.3-SNAPSHOT"
    environment:
      - POSTGRES_DB=annotations

  search-elasticsearch:
    container_name: search-elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:6.7.2
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "discovery.type=single-node"
    ports:
      - 9203:9200
      - 9204:9201

  search-founda:
    image: digirati/jane-founda:d0e7610dc15073e85fce20ee42215e192b16907b
    environment:
      - WORKERS=2
      - search_annotation_index=jane-annotations
      - search_elasticsearch_base=search-elasticsearch
      - search_elasticsearch_port=9200
      - search_ssl_boolean=false
    ports:
      - 8103:8000
    links:
      - search-elasticsearch

  search-indexer:
    container_name: search-indexer
    image: digirati/madoc_indexer:a0b59d90bb8ab77d45fc158259bced784259acb8
    environment:
      - WORKERS=2
      - search_annotation_index=jane-annotations
      - search_elasticsearch_base=search-elasticsearch
      - search_elasticsearch_port=9200
      - search_ssl_boolean=false
    ports:
      - 8104:8000
    links:
      - omeka-ecosystem
      - annotation-server
      - search-elasticsearch
      - search-founda
