<div class="c-example">
  <input class="c-example__input" title="name" type="text" placeholder="Enter your name" />
  <button class="c-example__hello btn">Hello</button>
  <button class="c-example__goodbye btn">Goodbye</button>
  <div class="c-example__output"></div>
</div>
