
<section class="description">
  <aside class="description__aside">
    <ul class="description__visual" aria-hidden="true">
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
    </ul>
  </aside>
  <article class="description__body">
    <p><strong>SORTY</strong>is a tool to help you organise microfilm reels into logical groups.</p>

    <p>Review all the images on any reel, gather sets of images that should go together, and give them a label.</p>

    <p>We’ll also show your progress, so you know how much is left to do.</p>

    <p><a href="list.html">Start on the list of 136 reels.</a></p>
  </article>
</section>
