---
jsfile: 'src/js/components/header.js'
scssfile: 'src/scss/components/header.scss'
---
<header class="header">
  <h1 class="header__title"><a href="index.html">Sorty</a></h1>
  {{> header-nav}}
  {{> toolbar }}
</header>
{{> help-text }}
