<div class="help">
  <div class="help__text">
    <h2 class="help__heading">Making items is easy!</h2>
    <p class="help__description">Just click on an image to select it for an item.</p>
  </div>
  <ul class="help__list">
    <li class="help__list-item help__list-item--control">
      <span class="help__item-description">Hold the <strong>CONTROL</strong> key to deselect an image</span>
      <ul class="help__visual" aria-hidden="true">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
      </ul>
    </li>
    <li class="help__list-item help__list-item--shift">
      <span class="help__item-description">Hold the <strong>SHIFT</strong> key to add a range</span>
      <ul class="help__visual" aria-hidden="true">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
      </ul>
    </li>
  </ul>
</div>
