<div class="info-bar">
  <div class="info-bar__selection">
    <p class="info-bar__tip">Hold [shift] to select a range</p>
    <p class="info-bar__tip">Hold [ctrl] to add/remove from selection</p>
  </div>
</div>
