<div id="manifestmodal" class="manifest-modal manifest-modal--make mfp-hide">
	<h1 class="manifest-modal__heading">Give your {set} a label?</h1>
	<label class="vh" for="manifestLabel">Set label</label>
  <input class="manifest-modal__input" id="manifestLabel" name="manifestLabel" type="text" placeholder="Set label" value="" />
	<p class="manifest-modal__saving"><span class="manifest-modal__saving-text">Saving your {set}</span> <i class="loading"><span></span></i></p>
  <p class="manifest-modal__actions"><button class="btn manifest-modal__make">Save</button><button class="btn manifest-modal__dismiss popup-modal-dismiss">Cancel</button></p>
</div>
