<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="mdlLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mdlLabel"></h4>
            </div>
            <div class="modal-body">
                <img id="bigImage" class="img-responsive" />
                <div class="auth-ops" id="authOps">
                    <h5>Header</h5>
                    <div class="auth-desc">
                    </div>
                    <button id="authDo" type="button" class="btn btn-primary"></button>
                </div>
            </div>
            <div class="modal-footer">
                <div style="float:left;">
                    <button id="mkStart" type="button" class="btn btn-primary btn-mark" data-uri="">[start...</button>
                    <button id="mkEnd" type="button" class="btn btn-primary btn-mark" data-uri="">&nbsp;...end]</button>
                </div>
                <div style="float:right;">
                    <button id="mdlPrev" type="button" class="btn btn-primary btn-prevnext" data-uri="">&larr; Prev</button>
                    <button id="mdlNext" type="button" class="btn btn-primary btn-prevnext" data-uri="">Next &rarr;</button>
                </div>
            </div>
        </div>
    </div>
</div>
