<div class="thumb-size">
  <label class="thumb-size__label">Image size</label>
  <button class="thumb-size__button thumb-size__button--small thumb-size__button--active">Small</button>
  <button class="thumb-size__button thumb-size__button--medium">Medium</button>
  <button class="thumb-size__button thumb-size__button--large">Large</button>
</div>
