.c-statistics {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.c-statistics--center {
    -ms-flex-pack: center;
    justify-content: center;
}

.c-statistic {
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: top;
    justify-content: top;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    text-align: center;
    padding: 15px 20px;
    min-width: 0;
}

.c-statistic:after {
    clear: both;
    content: "";
    display: table;
}

.c-statistic:hover {
    background-color: #f2f3f4;
}

.c-statistic dd {
    color: inherit;
    font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin: 0.6em 0;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    -ms-flex-order: 0;
    order: 0;
    margin: 0;
}

.c-statistic dt {
    -ms-flex-order: 1;
    order: 1;
}

.c-statistic--inline {
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0 15px;
}

.c-statistic--inline dd {
    padding-right: 7px;
}

.c-statistic--sm dd {
    font-size: 2em;
}

@media (max-width: 1024px) {
    .c-statistic--sm dd {
        font-size: 1.4em;
    }
}

.c-statistic--md dd {
    font-size: 3em;
}

@media (max-width: 1024px) {
    .c-statistic--md dd {
        font-size: 2em;
    }
}

.c-statistic--lg dd {
    font-size: 4em;
}

@media (max-width: 1024px) {
    .c-statistic--lg dd {
        font-size: 3em;
    }
}

.c-statistic--xl {
    padding: 15px 40px;
}

.c-statistic--xl dd {
    font-size: 6em;
}

@media (max-width: 1024px) {
    .c-statistic--xl dd {
        font-size: 4em;
    }
}
