<div class="c-dig-grid__container">
        <div class="c-dig-grid__col--8">
            <h1>Thanks for flagging.</h1>

            <a class="c-button c-button--primary" href="{{ redirect }}">Back to page</a>

            <br/>
            <div class="c-divider"></div>
    </div>
</div>