.header {
  background: $black90;
  min-height: 56px;
  overflow: hidden;
  padding: 0;
  position: relative;
  //top: 0;
  width: 100%;
  z-index: 1000;

  &__title {
    color: $white;
    float: left;
    font-size: 1.3rem;
    line-height: 24px;
    margin: 15px 0 0 20px;
    text-transform: uppercase;
    vertical-align: middle;

    a {
      color: $white;
      text-decoration: none;

      &:focus,
      &:hover {
        border-bottom: 2px solid $white;
        outline: 0;
      }
    }
  }
}

.header-nav {
  color: $white;
  display: inline-block;
  float: right;
  font-size: 1.1rem;
  list-style: none;
  margin: 16px 0 0 50px;
  padding: 0 20px 0 0;

  @media (min-width: 740px) {
    float: none;
    padding-right: 0;
  }

  &__item {
    display: inline-block;
    height: 29px;
    line-height: 1;
    margin-left: 25px;
    position: relative;

    &--manifest {
      display: none;
    }

    i {
      left: -10px;
      position: relative;
      top: 4px;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;

    &:focus,
    &:hover {
      border-bottom: 2px solid $white;
      outline: 0;
    }
  }

  &__progress {
    bottom: -9px;
    left: 0;
    position: absolute;
    right: 0;
  }
}
