<nav class="workspace-tabs">
  <ul class="workspace-tabs__list">
    <li class="workspace-tabs__item">
      <a class="workspace-tabs__link workspace-tabs__link--active" href="#all" data-modifier="all"><i class="material-icons">theaters</i><br/>All Images</a>
    </li>
    <li class="workspace-tabs__item workspace-tabs__item--dm">
      <a class="workspace-tabs__link" href="#add" data-modifier="add"><i class="material-icons">library_add</i><br/>To Classify</a>
    </li>
    <li class="workspace-tabs__item workspace-tabs__item--dm">
      <a class="workspace-tabs__link" href="#done" data-modifier="done"><i class="material-icons">done</i><br/>Completed</a>
    </li>
  </ul>
</nav>
