$red: red;

.c-form {
  display: block;
}

.c-form-field {
  margin-bottom: 16px;

  &__label {
    display: inline-block;
    width: 150px;
  }

  &__item {
    border: 1px solid $grey;
    border-radius: 2px;
    padding: 4px 8px;

    &:focus {
      border-color: $grey-2;
    }
  }

  &__error {
    color: $red;
  }
}

.c-form__submit {
  display: inline-block;
}
