// ITCSS Structure
// ---------------
//  ______
//  \    /
//   \  /
//    \/
//
//

// 1. Settings
// ------------
// Settings that need to be accessed everywhere, think of these as global variables
//
@import "settings/global";
@import "settings/breakpoints";
@import "settings/colours";
@import "settings/fonts";
@import "settings/form";
@import "settings/typography";

// 2. Tools
// ---------
// Any functions or mixins
//
@import "tools/functions";
@import "tools/mixins";

// 3. Generic
// -----------
// Global styles, e.g. normalize/reset/box-sizing
// If you're including 3rd-party code, pull it in from the vendor folder
//
@import "vendor/normalize";
@import "vendor/magnific";
@import "vendor/leaflet";
@import "generic/box-sizing";

// 4. Elements
// ------------
// Element selectors, use sparingly, changes to these will have wide ranging impact. e.g. h1, ul, li
//
@import "elements/button";
@import "elements/form";
@import "elements/input";
@import "elements/link";
@import "elements/list";
@import "elements/page";
@import "elements/progress";
@import "elements/quote";
@import "elements/select";
@import "elements/table";
@import "elements/typography";

// 5. Objects
// -----------
// Common generic re-usable objects using the BEMIT naming convention, e.g. .o-media, .o-inline-list
// Prefix class names with 'o-'
//
@import "objects/layout";
@import "objects/media";
@import "objects/wrapper";

// 6. Components
// --------------
// Specific component styles using the BEMIT naming convention
// Prefix class names with 'c-'
//
@import "components/button";
@import "components/classified-manifest";
@import "components/classify-tools";
@import "components/description";
@import "components/footer";
@import "components/header";
@import "components/help";
@import "components/form";
@import "components/help-button";
@import "components/info-bar";
@import "components/load-bar";
@import "components/manifest-input";
@import "components/manifest-modal";
@import "components/manifest-select";
@import "components/manifest-select";
@import "components/saved";
@import "components/source-list";
@import "components/thumb";
@import "components/thumb-size";
@import "components/toolbar";
@import "components/viewer";
@import "components/workspace-tabs";
@import "components/zoom-toolbar";

// 7. Trumps
// ----------
// Overrides and utility functions required to override any inherited styles
// Use sparingly
//
@import "trumps/utilities";
