{% if (allAnnotations) %}
    <section class="latest-annotations">
        <h1 class="latest-annotations__title">Latest annotated images</h1>
        {% for annotation in allAnnotations|slice(0, 5) %}
            {% if annotation.manifestSource.omekaUri  and  annotation.thumbnail.full %}
                <div class="latest-annotations__inner">
                    <div class="latest-annotations__image-container">
                        <a class="latest-annotations__image-element"
                           href="{{ annotation.canvasSource.omekaUri}}">
                            <img src="{{ annotation.thumbnail.full }}"/>
                        </a>
                    </div>
                    <div class="latest-annotations__label">
                        <a class="latest-annotations__label-link"
                           href="{{ annotation.canvasSource.omekaUri }}">{{ annotation.canvasSource.label }}</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endif %}
