html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #fff; /* Body background */
}

header {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fff; /* Main header background */
}

/* Logo */
.site-title {
    align-self: flex-start;
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}

.site-title img {
    margin: 24px 0;
    max-width: 240px;
}

#search {
    flex: 1;
    margin-right: 20px;
}
#search form {
    float: right;

}
#search form input {
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #333;
    border-bottom-width: 3px;
}
#search form button {
    font-size: 16px;
    line-height: 22px;
    padding: 3px 10px;
    background: #333;
    color: #fff;
    border: 2px solid #333;
    border-bottom-width: 3px;
}

header nav {
    width: 100%;
    padding: 10px;
    background: #eee; /* Menu background */
}
header nav ul.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}
header nav ul.navigation li {
    display: inline-block;
    font-size: 14px;
    background: #fff;
}
header nav ul.navigation li a {
    text-decoration: none;
    color: #333;
    padding: 6px 12px;
    display: block;
    border: 2px solid #333;
    border-bottom-width: 3px;
}
header nav ul.navigation li a:hover {
    text-decoration: underline;
}
header nav ul.navigation li.active {
    background: #333;
    color: #fff;
}
header nav ul.navigation li.active a {
    color: #fff;
}

main {
    flex: 1 1 0;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #fff;
}
footer {
    background: #333;
    color: rgba(255, 255, 255, .6);
    font-weight: 300;
    padding: 40px;
}

footer .footer-inner {
    flex: 1 1 0;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}


/* Breadcrumbs */
.c-breadcrumbs {

}

.c-breadcrumbs__crumb a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}
.c-breadcrumbs__crumb:hover a {
    color: #888;
}

/* Canvas navigation */
.canvas-navigation {
    font-size: 12px;
    color: #888;
    text-align: center;
}
.canvas-navigation .canvas-navigation__next,
.canvas-navigation .canvas-navigation__previous {
    background: #fff;
    color: #333;
    height: auto;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    border-bottom: 2px solid #fff;
}

.canvas-navigation .canvas-navigation__next:hover,
.canvas-navigation .canvas-navigation__previous:hover {
    /*text-decoration: underline;*/
    border-bottom: 2px solid #333;
}

.iiif-view-manifest-list {
    margin-bottom: 40px;
}

.iiif-view-manifest-list .iiif-view-manifest-list__canvas-image {
    margin-bottom: 10px;
}

/** Search */
.search-filters {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
}

.search-filters .filter .filter-label {
    font-weight: bold;
}
.search-filters .filter .filter-label:after {
    content: ':';
}

.browse-controls {
    display: flex;
    border: 2px solid #333;
    padding: 10px;
    align-items: center;
}
.browse-controls > * {
    margin: 0 10px;
}
.item.resource.browse main h2:first-of-type {
    display: none;
}
.pagination {
    display: flex;
}
.pagination .row-count {
    display: none;
}
.resource-list {
    list-style: none;
    padding: 0;
    margin: 40px 0;
}
.resource-list a {
    color: #333;
    text-decoration: none;
}
.resource-list a:hover {
    text-decoration: underline;
    color: #666;
}
.resource-list .resource {
    margin: 20px;
}

.canvas-actions .c-action--link {
    border: none;
}

.canvas-actions .c-save-for-later input[name="bookmark"] {
    color: #333;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.canvas-actions .c-save-for-later input[name="bookmark"]:hover,
.canvas-actions.canvas-actions li a:hover {
    color: #666;
}

.canvas-actions.canvas-actions li a {
    color: #333;
}
