{% do headLink().prependStylesheet(assetUrl('css/carousel.css', 'IIIFView')) %}
<div class="c-collection__images" id="carousel">
    <div class="c-carousel c-carousel--sm {% if (canvas.previous) %} c-carousel--has-prev{% endif %} ">

        {% if (canvas.previous) %}
            <div class="c-carousel__prev">
                <a href="{{ url(routeName | default(null), { manifest: manifest.omekaId, canvas: canvas.previous.omekaId }, true) }}#carousel"
                   class="c-carousel__nav" title="Scroll carousel left" aria-label="Scroll carousel left">
                    <div class="c-carousel__nav-text"><span class="fa fa-long-arrow-left" aria-hidden="true"></span>
                    </div>
                </a>
            </div>
        {% endif %}

        <div class="c-carousel__content">
            {% set hash = 'carousel' %}
            {% for image in canvas.allPrevious | slice(-4, 5) %}
                {% set active = false %}
                {% include 'iiif-storage/partials/canvas-thumbnail' %}
            {% endfor %}

            {% set image = canvas %}
            {% set active = true %}
            {% include 'iiif-storage/partials/canvas-thumbnail' %}

            {% for image in canvas.allNext | slice(1, 5) %}
                {% set active = false %}
                {% include 'iiif-storage/partials/canvas-thumbnail' %}
            {% endfor %}
        </div>


        {% if (canvas.next) %}
            <div class="c-carousel__next">
                <a href="{{ url(routeName | default(null), { manifest: manifest.omekaId, canvas: canvas.next.omekaId }, true) }}#carousel"
                   class="c-carousel__nav" title="Scroll carousel right" aria-label="Scroll carousel right">
                    <div class="c-carousel__nav-text"><span class="fa fa-long-arrow-right"
                                                            aria-hidden="true"></span>
                    </div>
                </a>
            </div>
        {% endif %}

    </div>
</div>
