{% if (canvas.attribution) %}
    <p class="iiif-view-attribution">
        {{ localeFromRdf(canvas.attribution) | raw }}
    </p>
{% endif %}
{% if (manifest.attribution) %}
    <p class="iiif-view-attribution">
        {{ localeFromRdf(manifest.attribution) | raw }}
    </p>
{% endif %}
