{% if(canvas.flagActionEndpoint and isLoggedIn and siteSetting('cs-flagging', true)) %}
    <li>
        <div class="c-action c-flagged c-action--link">
            <a href="{{ canvas.flagActionEndpoint }}&redirect={{ router.canvas(canvas, manifest, collection) }}"
               class="link--plain" aria-label="{{ translate('Flag as inappropriate') }}">
                <span class="fa fa-flag-o" aria-hidden="true"></span>{{ translate('Flag as inappropriate') }}
            </a>
        </div>
    </li>
{% endif %}
