{% if (canvas.attribution) %}
    <p class="iiif-view-attribution">
        {{ canvas.attribution | raw }}
    </p>
{% endif %}
{% if (manifest.attribution) %}
    <p class="iiif-view-attribution">
        {{ manifest.attribution | raw }}
    </p>
{% endif %}
