{% if(history) %}
    <li>
        <div class="c-action">
            <a href="{{ history }}" class="link--plain" aria-label="{{ translate('Changes to this page') }}">
                <span class="fa fa-history" aria-hidden="true"></span> {{ translate('Changes to this page') }}
            </a>
        </div>
    </li>
{% endif %}
