{% set previous = manifestResource.getPreviousCanvas(canvas) %}
{% set next = manifestResource.getNextCanvas(canvas) %}

<nav class="canvas-navigation" id="canvas">
    {% if (previous) %}
        <a class="canvas-navigation__previous" href="{{ router.canvas(previous, manifest, collection) }}#canvas">
            <span class="fa fa-long-arrow-left" aria-hidden="true"></span> Previous Image
        </a>
    {% endif %}
    {% if (next) %}
        <a class="canvas-navigation__next" href="{{ router.canvas(next, manifest, collection) }}#canvas">
            Next Image <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
        </a>
    {% endif %}
</nav>
