{% if(canvas.bookmark and isLoggedIn and siteSetting('cs-bookmarking', true)) %}
    <li>
        {% if hasBookmark is defined and hasBookmark %}
            <div class="c-action c-save-for-later">
                <span class="fa fa-bookmark" aria-hidden="true"></span>
                {{ translate('Bookmarked') }}
            </div>
        {% else %}
            <div class="c-action c-save-for-later c-action--link">
                <span class="fa fa-bookmark-o" aria-hidden="true"></span>
                {% if canvas.bookmark %}
                    {% include 'bookmarking/bookmark/bookmark' with { form: canvas.bookmark } %}
                {% endif %}
            </div>
        {% endif %}
    </li>
{% endif %}
