<h1>{{ name }}</h1>
<p>{{ role }}</p>
{% if email %}
    <h4>{{ translate('Email address') }}</h4>
    <svg xmlns="http://www.w3.org/2000/svg">
        <text x="1" y="20">{{ email }}</text>
    </svg>
{% endif %}
