<h1>Search</h1>
<div class="c-search-block">
    <div class="c-search-block__search">
            <div class="form-search ">
                <form>
                    <div class="c-form-field c-form-field--with-button">
                        <label for="q" class="c-form-field__label sr-only">Search the collection</label>
                        <input type="text" name="q" id="q" placeholder="Search the collection" class="c-form-field__input c-form-field__search" />
                        <button class="c-form-field__button c-form-field__input" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
    </div>
</div>
