{# htmlElement('body').appendAttribute('class', 'login') #}
<div class="c-form c-form--login">
    <h3 class="c-form__heading">{{ client.getName() }} wants to use your Omeka account</h3>
    {{ form(form) }}
    <div class="c-form__content">
        {{ content|raw }}
    </div>
    <style>
        .c-form--login input[type=submit] {
            margin-right: 20px;
        }
    </style>
</div>
