{# htmlElement('body').appendAttribute('class', 'login') #}
<div class="c-form c-form--register">
    <h1 class="c-form__heading">{{ translate('Register') }}</h1>
    {{ form(form) }}
    <div class="c-form__content">
        {{ content|raw }}
    </div>
</div>
