<div class="footer_partners" style="margin-top: 20px;">

  <div class="container">
    <footer>
      <div class="row">
        <div class="col-md-3">
          <h5>Ein Dienst der</h5>
          <div id="LogoSBB" style="display: table; height: 110px; margin: 0;">
            <a href="http://staatsbibliothek-berlin.de/" target="_blank" title="Staatsbibliothek zu Berlin" style="display: table-cell; vertical-align: middle;">
            <img src="https://crossasia.org/resources/sheader/images/LogoSBB.png" alt="Logo der Staatsbibliothek zu Berlin"></a>
          </div>
        </div>
        <div class="col-md-3">
          <span style="display: table; height: 40px;"><h5 class="gefoerdet_durch">Gefördert durch</h5></span>
          <div id="LogoDFG" style="display: table; height: 110px; padding: 0 15% 0 0;">
            <a href="http://www.dfg.de/" target="_blank" title="Deutsche Forschungsgemeinschaft" style="display: table-cell; vertical-align: middle;">
              <img src="https://crossasia.org/resources/sheader/images/dfg_logo.png" alt="Logo Deutsche Forschungsgemeinschaft"></a> 
         </div>
        </div>
        <div class="col-md-3">
          <div id="LogoDFG" class="bundesregirung_logo" style="display: table; height: 50px;">   
             <a href="https://www.bundesregierung.de/breg-de/bundesregierung/bundeskanzleramt/staatsministerin-fuer-kultur-und-medien/" target="_blank" 
             title="Staatsministerin für Kultur und Medien" style="display: table-cell; vertical-align: middle;">
             <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Beauftragte-der-Bundesregierung-f%C3%BCr-Kultur-und-Medien-Logo.svg/243px-Beauftragte-der-Bundesregierung-f%C3%BCr-Kultur-und-Medien-Logo.svg.png" 
             alt="Logo Staatsministerin für Kultur und Medien" style="display: table-cell; vertical-align: middle;"></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<div class="footer_copyright">
  <div class="container">
    <footer>
      <div class="footer-nav">
        <ul>
          <li><span>©2022 Copyright CrossAsia</span></li>
          <li><a title="Print" href="javascript:window.print()"><i class="fa fa-print">&nbsp;</i></a></li>
          <li><a href="https://www.facebook.com/sharer.php" class="facebook" target="_blank"><i id="share" title="Share" class="fa fa-share">&nbsp;</i></a></li>
          <li><a title="favorite" href="" id="bookmarkme" rel="sidebar"><i class="fa fa-star">&nbsp;</i></a></li>
          <li><a title="RSS" href="http://blog.crossasia.org/feed/"><i class="fa fa-rss">&nbsp;</i></a></li>
        </ul>
        <ul><li><a href="https://crossasia.org/contact/">Kontakt</a></li><li><a href="https://blog.crossasia.org/about/">Über CrossAsia</a></li><li><a href="https://crossasia.org/sitemap/">Seitenübersicht</a></li><li><a href="http://staatsbibliothek-berlin.de/extras/allgemeines/impressum/datenschutz-privacy-policy/">Datenschutz</a></li><li><a href="https://crossasia.org/impressum/">Impressum</a></li></ul>
      </div>
    </footer>
  </div>
  <style>
	@media only screen and (max-width: 600px) {
  	.gefoerdet_durch{
  	    position: relative;
  		left: 0px;
  		}
  		
  		.bundesregirung_logo {
  	   position: relative; 
  	   right: 20px; 
  	   top:0px;
  	 }
	}
	
	@media only screen and (min-width: 600px) {
  	.gefoerdet_durch{
  		position: relative; 
  		left: 150px;
  		}
  	 .bundesregirung_logo {
  	   position: relative; 
  	   right: 20px; 
  	   top:35px;
  	 }	
	}
</style>
</div>
