#! /bin/bash

# ensure deps
apt install -y apt-transport-https ca-certificates curl software-properties-common
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic test"

# see https://www.postgresql.org/download/linux/ubuntu/
sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -

apt-get update
apt-get install -y docker-ce docker-ce-cli containerd.io awscli rsnapshot mysql-client-5.7 postgresql-client-12

curl -L "https://github.com/docker/compose/releases/download/1.25.4/docker-compose-$(uname -s)-$(uname -m)" -o /usr/bin/docker-compose
chmod +x /usr/bin/docker-compose

# mount the EBS volumes and add to fstab so they mount at boot
# working-data dir
mkdir -p /opt/data

if ! blkid --probe --match-types ext4 /dev/xvdf ; then
    mkfs.ext4 /dev/xvdf
fi
mount /dev/xvdf /opt/data
echo /dev/xvdf /opt/data ext4 defaults,nofail 0 2 >> /etc/fstab

# backup
mkdir -p /mnt/backup
if ! blkid --probe --match-types ext4 /dev/xvdg ; then
    mkfs.ext4 /dev/xvdg
fi
mount /dev/xvdg /mnt/backup
echo /dev/xvdg /mnt/backup ext4 defaults,nofail 0 2 >> /etc/fstab

# create dirs
mkdir -p /etc/docker/compose/madoc/
mkdir -p /etc/systemd/system/
mkdir -p /opt/data/mysql_data
mkdir -p /opt/data/shared_postgres_data
chmod 777 /opt/data/shared_postgres_data
mkdir -p /opt/data/omeka_files
chmod 777 /opt/data/omeka_files/
mkdir -p /mnt/backup/mysql/.snapshots/
mkdir -p /mnt/backup/postgres/.snapshots/

mkdir -p /etc/docker/compose/madoc/var/jwt
chmod 777 /etc/docker/compose/madoc/var/jwt
mkdir -p /etc/docker/compose/madoc/var/certs
chmod 777 /etc/docker/compose/madoc/var/certs

# backup rsnapshot default conf
cp /etc/rsnapshot.conf /etc/rsnapshot.conf.default

# move files added by file provisioner
mv /tmp/docker-compose.yml /etc/docker/compose/madoc/docker-compose.yml
mv /tmp/madoc.service /etc/systemd/system/madoc.service
mv /tmp/backup/*.timer /etc/systemd/system/
mv /tmp/backup/*.service /etc/systemd/system/
mv /tmp/backup/*.sh /usr/bin/
chmod +rwx /usr/bin/backup-madoc.sh
chmod +rwx /usr/bin/backup-mysql.sh
chmod +rwx /usr/bin/backup-postgres.sh
mv /tmp/backup/rsnapshot.conf /etc/rsnapshot.conf
mv /tmp/backup/rsnapshot-postgres.conf /etc/rsnapshot-postgres.conf

# read parameterstore values and add to EnvironmentFile for systemd
aws ssm get-parameters-by-path --path /madoc/${prefix}/${workspace} --region ${region} --recursive --with-decryption --no-paginate --output text --query "Parameters[].[Name,'=',Value]" | sed 's/\/madoc\/${prefix}\/${workspace}\///g' | tr -d '[:blank:]' > /etc/madoc-environment

# start systemd services
systemctl start madoc.service
systemctl enable madoc.service
systemctl enable madoc-backup.timer
systemctl enable --now madoc-db-backup-hourly.timer
systemctl enable --now madoc-db-backup-daily.timer
systemctl enable --now madoc-db-backup-weekly.timer
systemctl enable --now madoc-db-backup-monthly.timer