#! /bin/bash

# ensure deps
sudo apt-get update
sudo apt-get remove docker docker-engine docker.io containerd runc
sudo apt-get install -y docker-ce docker-ce-cli containerd.io awscli

# create dirs
sudo mkdir -p /etc/docker/compose/madoc/
sudo mkdir -p /etc/systemd/system/

# read parameterstore values and add to EnvironmentFile for systemd
aws ssm get-parameters-by-path --path /madoc/${prefix}/${workspace} --region eu-west-1 --recursive --with-decryption --no-paginate --output text --query "Parameters[].[Name,'=',Value]" | sed 's/\/madoc\/${prefix}\/${workspace}\///g' | tr -d '[:blank:]' > /etc/madoc-environment