#! /bin/bash

# ensure deps
sudo apt install -y apt-transport-https ca-certificates curl software-properties-common
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic test"
sudo apt-get update
sudo apt-get install -y docker-ce docker-ce-cli containerd.io awscli

# create dirs
sudo mkdir -p /etc/docker/compose/madoc/
sudo mkdir -p /etc/systemd/system/

# move files added by file provisioner
sudo mv /tmp/docker-compose.yml /etc/docker/compose/madoc/docker-compose.yml
sudo mv /tmp/docker-compose-madoc /etc/systemd/system/docker-compose-madoc

# read parameterstore values and add to EnvironmentFile for systemd
aws ssm get-parameters-by-path --path /madoc/${prefix}/${workspace} --region eu-west-1 --recursive --with-decryption --no-paginate --output text --query "Parameters[].[Name,'=',Value]" | sed 's/\/madoc\/${prefix}\/${workspace}\///g' | tr -d '[:blank:]' > /etc/madoc-environment