[Unit]
Description=Madoc service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/etc/docker/compose/madoc
EnvironmentFile=/etc/madoc-environment

# Remove old containers, images and volumes
ExecStartPre=/usr/local/bin/docker-compose down -v
ExecStartPre=/usr/local/bin/docker-compose rm -fv
ExecStartPre=-/bin/bash -c 'docker network ls -qf "name=madoc" | xargs docker network rm'
ExecStartPre=-/bin/bash -c 'docker ps -aqf "name=madoc" | xargs docker rm'

# Compose up
ExecStart=/usr/bin/docker-compose up

# Compose down, remove containers and volumes
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target