<!--<div class="wrapper">-->
<!--    <svg class="triangles"-->
<!--         xmlns="http://www.w3.org/2000/svg"-->
<!--         width="166.241"-->
<!--         height="83.143"-->
<!--         viewBox="0 0 166.241 83.143"-->
<!--    >-->
<!--        <g-->
<!--                id="Group_331"-->
<!--                data-name="Group 331"-->
<!--                transform="translate(15006 18406.781)"-->
<!--        >-->
<!--            <path-->
<!--                    id="Subtraction_187"-->
<!--                    data-name="Subtraction 187"-->
<!--                    className="cls-1"-->
<!--                    d="M26.023,56.288H26V35.509l20.736-.022.044.044L26.024,56.288Z"-->
<!--                    transform="translate(-15032 -18379.926)"-->
<!--            />-->
<!--            <path-->
<!--                    id="Subtraction_190"-->
<!--                    data-name="Subtraction 190"-->
<!--                    className="cls-1"-->
<!--                    d="M26.023,56.288H26V35.509l20.736-.022.044.044L26.024,56.288Z"-->
<!--                    transform="translate(-15032 -18400.75)"-->
<!--            />-->
<!--            <path-->
<!--                    id="Subtraction_191"-->
<!--                    data-name="Subtraction 191"-->
<!--                    className="cls-1"-->
<!--                    d="M29.387,29.388h0L0,.063V0H29.387V29.388h0Z"-->
<!--                    transform="translate(-14922.879 -18386) rotate(135)"-->
<!--            />-->
<!--            <path-->
<!--                    id="Subtraction_192"-->
<!--                    data-name="Subtraction 192"-->
<!--                    className="cls-1"-->
<!--                    d="M29.387,29.388h0L0,.063V0H29.387V29.388h0Z"-->
<!--                    transform="translate(-14881.318 -18386) rotate(135)"-->
<!--            />-->
<!--            <path-->
<!--                    id="Subtraction_193"-->
<!--                    data-name="Subtraction 193"-->
<!--                    className="cls-1"-->
<!--                    d="M29.387,29.388h0L0,.063V0H29.387V29.388h0Z"-->
<!--                    transform="translate(-14839.759 -18386) rotate(135)"-->
<!--            />-->
<!--            <path-->
<!--                    id="Subtraction_194"-->
<!--                    data-name="Subtraction 194"-->
<!--                    className="cls-1"-->
<!--                    d="M29.387,29.388l0,0L0,.063V0H29.387V29.388Z"-->
<!--                    transform="translate(-14943.659 -18365.219) rotate(135)"-->
<!--            />-->
<!--            <path-->
<!--                    id="Subtraction_195"-->
<!--                    data-name="Subtraction 195"-->
<!--                    className="cls-1"-->
<!--                    d="M29.387,29.388h0L0,.063V0H29.387V29.388h0Z"-->
<!--                    transform="translate(-14964.439 -18386) rotate(135)"-->
<!--            />-->
<!--            <path-->
<!--                    id="Subtraction_196"-->
<!--                    data-name="Subtraction 196"-->
<!--                    className="cls-1"-->
<!--                    d="M29.387,29.388h0L0,.063V0H29.387V29.388h0Z"-->
<!--                    transform="translate(-14964.439 -18386) rotate(135)"-->
<!--            />-->
<!--        </g>-->
<!--    </svg>-->
<!--    <div class="foot">-->
<!--        <div class="logo">-->
<!--            <b>Indigenous</b>-->
<!--            <span>Digital</span>-->
<!--            <span>Archive</span>-->
<!--        </div>-->
<!--        <div class="footer-grid">-->
<!--            <a>Menu Item</a>-->
<!--            <a>Menu Item</a>-->
<!--            <a>Menu Item</a>-->
<!--            <a>Menu Item</a>-->
<!--            <a>Menu Item</a>-->
<!--            <a>Menu Item</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<style>-->
<!--    .wrapper {-->
<!--    }-->

<!--    .triangles {-->
<!--        transform: scaleY(-1);-->
<!--        top: 27px;-->
<!--        position: relative;-->
<!--        fill: #002d4b;-->
<!--    }-->
<!--    .foot {-->
<!--        background-color: #002d4b;-->
<!--        padding: 2rem 8rem;-->
<!--    }-->

<!--    .logo {-->
<!--        position: relative;-->
<!--        color: white;-->
<!--        display: flex;-->
<!--        flex-direction: column;-->
<!--        line-height: 18px;-->
<!--        padding: 8px;-->

<!--    }-->

<!--    .logo :hover {-->
<!--        color: #ecf5fc;-->
<!--    }-->

<!--    .logo :before {-->
<!--        content: '';-->
<!--        position: absolute;-->
<!--        height: 45%;-->
<!--        width: 3px;-->
<!--        border-radius: 25px;-->
<!--        background-color: white;-->
<!--        left: 0;-->
<!--    }-->

<!--    .logo > b {-->
<!--        padding: 0;-->
<!--        font-weight: 600;-->
<!--        font-size: 18px;-->
<!--    }-->

<!--    .logo > span {-->
<!--        padding: 0;-->
<!--        font-weight: 400;-->
<!--        font-size: 17px;-->
<!--    }-->


<!--    .footer-grid {-->
<!--        width: 50%;-->
<!--        padding: 1rem 0;-->
<!--        color: #ecf5fc;-->
<!--        display: grid;-->
<!--        grid-template-columns: repeat(4, auto);-->
<!--        grid-column-gap: 5rem;-->
<!--        grid-row-gap: 1rem;-->
<!--    }-->

<!--    .footer-grid > a {-->
<!--        font-size: 16px;-->
<!--        line-height: 24px;-->
<!--        color: #ecf5fc;-->
<!--    }-->

<!--    @media screen and (max-width: 900px) {-->
<!--        .foot {-->
<!--            padding: 2rem 4rem;-->
<!--        }-->

<!--        .footer-grid {-->
<!--            grid-template-columns: repeat(2, auto);-->
<!--        }-->
<!--    }-->


<!--    @media screen and (max-width: 500px) {-->
<!--        .foot {-->
<!--            padding: 1rem;-->
<!--        }-->

<!--        .footer-grid {-->
<!--            grid-template-columns: repeat(1, auto);-->
<!--            width: 100%;-->
<!--            padding: 1rem 0;-->
<!--            grid-column-gap: 1rem;-->
<!--            grid-row-gap: 1rem;-->
<!--        }-->
<!--    }-->
<!--</style>-->

