name: API Gateway Docker (v2)

on:
  push:
    branches: [v2]
    paths:
      - "services/gateway/Dockerfile"
      - "services/gateway/entrypoint.sh"
      - "services/gateway/gateway.conf"
      - "services/gateway/policies.json"
      - "services/gateway/services/**"

jobs:

  gateway-docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push SHA to GitHub Packages
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: services/gateway
          push: true
          tags: |
            ghcr.io/digirati-co-uk/madoc-api-gateway:${{ env.normalized_branch_name }}
            ghcr.io/digirati-co-uk/madoc-api-gateway:${{ github.sha }}
            ghcr.io/digirati-co-uk/madoc-api-gateway:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
