name: Madoc TS build

on:
  pull_request:
    paths:
      - "services/madoc-ts/src/**"
      - "services/madoc-ts/migrations/**"
      - "services/madoc-ts/__tests__/**"
      - "services/madoc-ts/translations/**"
      - "services/madoc-ts/schemas/**"
      - "services/madoc-ts/package.json"
      - "services/madoc-ts/Dockerfile"
      - "services/madoc-ts/ecosystem.config.js"
      - "services/madoc-ts/webpack.config.js"
      - "services/madoc-ts/tsconfig.json"
  push:
    branches: [main]
    paths:
      - ".github/workflows/madoc-ts.yaml"
      - "services/madoc-ts/src/**"
      - "services/madoc-ts/migrations/**"
      - "services/madoc-ts/__tests__/**"
      - "services/madoc-ts/translations/**"
      - "services/madoc-ts/schemas/**"
      - "services/madoc-ts/package.json"
      - "services/madoc-ts/Dockerfile"
      - "services/madoc-ts/ecosystem.config.js"
      - "services/madoc-ts/webpack.config.js"
      - "services/madoc-ts/tsconfig.json"

jobs:
  madoc-ts-build:
    runs-on: ubuntu-latest
    name: Node build
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Setup pnpm
        run: |
          corepack enable
          corepack prepare pnpm@9.15.9 --activate

      - name: Get pnpm store
        id: pnpm-cache
        run: echo "dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache.outputs.dir }}
          key: ${{ runner.os }}-pnpm-madoc-ts-${{ hashFiles('services/madoc-ts/package.json') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-madoc-ts-

      - working-directory: services/madoc-ts
        run: pnpm install --no-lockfile

      - uses: actions/cache@v4
        with:
          path: services/madoc-ts/node_modules/.vite
          key: vite-cache
          restore-keys: |
            vite-cache

      - working-directory: services/madoc-ts
        run: pnpm run build:vite-producer

      - working-directory: services/madoc-ts
        run: pnpm run build:vite-auth

      - working-directory: services/madoc-ts
        run: pnpm run build:vite-server

      - working-directory: services/madoc-ts
        run: pnpm run build:vite-scheduler

      - working-directory: services/madoc-ts
        run: pnpm run build:frontend

      - working-directory: services/madoc-ts
        run: pnpm run test
