name: Test storybook

on:
  pull_request:
    types: [ labeled, push ]

jobs:
  build:
    if: ${{ contains( github.event.pull_request.labels.*.name, 'test-storybook') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Setup pnpm
        run: |
          corepack enable
          corepack prepare pnpm@9.15.9 --activate

      - name: Get pnpm store
        id: pnpm-cache
        run: echo "dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache.outputs.dir }}
          key: ${{ runner.os }}-pnpm-madoc-ts-${{ hashFiles('services/madoc-ts/package.json') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-madoc-ts-

      - working-directory: services/madoc-ts
        run: pnpm install --no-lockfile

      - uses: actions/cache@v4
        with:
          path: services/madoc-ts/node_modules/.vite
          key: vite-cache
          restore-keys: |
            vite-cache

      - name: Install Playwright
        working-directory: services/madoc-ts
        run: npx playwright install --with-deps

      - name: Build Storybook
        working-directory: services/madoc-ts
        run: pnpm run build-storybook --quiet

      - name: Serve Storybook and run tests
        working-directory: services/madoc-ts
        run: |
          npx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
            "npx http-server storybook-static --port 6500 --silent" \
            "npx wait-on tcp:6006 && pnpm run test-storybook --ci"
