<div class="classify-tools classify-tools--no-selection">
    <div class="classify-tools__title-block">
      <h3 class="classify-tools__title">Unit title</h3>
      <h4 class="classify-tools__sub-title">Unit subtitle</h4>
    </div>
    <div class="classify-tools__progress">
      <div class="classify-tools__no-selection">
        <a class="classify-tools__num-sets" href="#">{x} items</a>
      </div>
      <div class="classify-tools__selection">
        <span class="classify-tools__feedback">{x} selected</span>
        <a class="classify-tools__clear" href="#">Clear</a>
      </div>
      <span class="classify-tools__num-images">{x} images</span>
      <progress class="classify-tools__progress-bar" value="0" max="100"></progress>
      <button class="classify-tools__make btn"><i class="material-icons">note_add</i> Make item</button>
    </div>
</div>
