<div id="deleteManifestmodal" class="manifest-modal manifest-modal--delete mfp-hide">
	<h1 class="manifest-modal__heading">Are you sure you want to delete this {item}?</h1>
	<p class="manifest-modal__deleting"><span class="manifest-modal__deleting-text">Deleting your {set}</span> <i class="loading"><span></span></i></p>
  <p class="manifest-modal__actions"><button class="btn manifest-modal__delete">Delete</button><button class="btn manifest-modal__dismiss popup-modal-dismiss">Cancel</button></p>
</div>
