<ul class="header-nav">
  <li class="header-nav__item"><a class="header-nav__link" href="docs.html">Native docs</a></li>
  <li class="header-nav__item"><a class="header-nav__link" href="list.html">136 reels</a><progress class="header-nav__progress" value="10" max="100"></progress></li>
  <li class="header-nav__item header-nav__item--manifest"><i class="material-icons">arrow_forward</i> <a class="header-nav__link" href="classify.html">T-21/01/</a></li>
</ul>
