<div class="manifest-input">
    <div class="manifest-input__input">
      <form method="GET">
          <input type="text" class="manifest-input__text-input" name="manifest" placeholder="Enter manifest uri..." />
          <button type="submit" class="manifest-input__load-button btn">Load</button>
          <button type="button" class="manifest-input__expand-button btn"><i class="material-icons">arrow_drop_down</i>Show microfilm list</button>
      </form>
    </div>
    <div class="manifest-input__loaded">
      <p class="manifest-input__feedback">Loading...</p>
    </div>
    <div class="manifest-input__list">

    </div>
    <div class="load-bar">
      <div class="load-bar__inner"></div>
    </div>
</div>
