<ul class="source-list__list">
  <li class="source-list__item">
    <div class="source-list__image-container">
      <img class="source-list__image" src="//placehold.it/35x45" alt="" />
    </div>
    <div class="source-list__description">
      <h2><a href="classify.html?manifest=xxx">Letters Received by the Superintendent of Indian Trade</a></h2>
      <p>1806-1824, multiple including Indiana</p>
    </div>
    <div class="source-list__roll-data">
      <h3>T-58/1/</h3>
      <p>365 images, <a href="#">3 sets</a></p>
    </div>
    <div class="source-list__progress">
      <progress value="20" max="100" class="source-list__progress-bar"></progress>
    </div>
  </li>
</ul>
