<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Open+Sans:400,600" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>
  <body>
    <div class="container">
      {{> header }}
      <main>
        <div class="container body-content" id="mainContainer">
          {{> body  }}
        </div>
      </main>
    </div>
    {{> make-manifest-modal }}
    {{> delete-manifest-modal }}
    <script src="assets/js/env.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
